# Week 2 Results: Pandas
## 1-Hour Timeframe
Timeframe: 2022-04-01 12 to 2022-04-01 13
Execution Time: 172595.42 ms
Most Placed Color: #FFFFFF
Most Placed Pixel Location: 5,29

## 3-Hour Timeframe
Timeframe: 2022-04-01 12 to 2022-04-01 15
Execution Time: 175257.51 ms
Most Placed Color: #000000
Most Placed Pixel Location: 0,0

## 6-Hour Timeframe
Timeframe: 2022-04-01 12 to 2022-04-01 18
Execution Time: 179802.11 ms
Most Placed Color: #000000
Most Placed Pixel Location: 859,766