# Week 2 Results: Polars
## 1-Hour Timeframe
Timeframe: 2022-04-01 12 to 2022-04-01 13
Execution Time: 43.64 ms
Most Placed Color: #FFFFFF
Most Placed Pixel Location: 5,29
## 3-Hour Timeframe
Timeframe: 2022-04-01 12 to 2022-04-01 15
Execution Time: 250.12 ms
Most Placed Color: #000000
Most Placed Pixel Location: 0,0
## 6-Hour Timeframe
Timeframe: 2022-04-01 12 to 2022-04-01 18
Execution Time: 500.69 ms
Most Placed Color: #000000
Most Placed Pixel Location: 859,766