# Week 1 Results
## 1-Hour Timeframe
Timeframe: 2022-04-01 12 to 2022-04-01 13
Execution Time: 79.87 ms
Most Placed Color: #FFFFFF
Most Placed Pixel Location: 5,29
## 3-Hour Timeframe
Timeframe: 2022-04-01 12 to 2022-04-01 15
Execution Time: 140.36 ms
Most Placed Color: #000000
Most Placed Pixel Location: 0,0
## 6-Hour Timeframe
Timeframe: 2022-04-01 12 to 2022-04-01 18
Execution Time: 258.89 ms
Most Placed Color: #000000
Most Placed Pixel Location: 859,766
